.lined_bu{
   
    /* background: rgba(23, 155, 150, 0.552); */
    background-color: rgba(155, 43, 23, 0.552);

padding: 0.4375rem 1.375rem;

color:  #F1F1F1;
/* padding: 0.4375rem 0.9375rem; */
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal;

border-radius: 1.25rem;
border: 1px solid #0E8C88;

}

.lined_bu:hover{
border-radius: 1.25rem;
border: 1px solid #0E8C88;
/* background: #0E8C88; */
background: #0e8c8876;

}