.a{
     text-decoration: none;
    text-align: center;
     color: var(--text-color); 
}


.header{
    /* width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 45%; */

     width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 👈 IMPORTANT */
  padding: 0px 0px;
  position: relative; 
  top: 0px;


}

.logoo{
    margin-top: 20px;
    margin-left: 100px;
}


.nav{
     
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-right: 100px;

}

.display{
    display: none;
}

.lo{
    width: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
}



.burger {
  display: none;
  font-size: 25px;
  cursor: pointer;
  color: aliceblue;
  background-color: #0a4947;
  padding: 2px 7px;
  border-radius: 10px;
  text-align: center;
border: 1px solid #0E8C88;

}



/* Mobile */
@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .burger {
    display: block;
     /* display: block; */
    z-index: 10;

    margin-right: 50px;
  }

  /* .burger:hover{
  background-color: #0E8C88;

  } */

  .burger.active {
  background-color: #000000; /* 👈 black */
  border-color: #000000;
}

   .nav {
    display: none;
    position: absolute;
    top: 100%;          /* 👈 under header/burger */
    right: -50px;
    z-index: 10;
    flex-direction: column;   /* 👈 COLUMN */
    gap: 15px;
    background: rgba(0, 0, 0, 0.9);
border: 0.5px solid #0E8C88;

    padding: 20px;
    border-radius: 12px;
  }

  .lo{
    /* width: 568px; */
    /* height: 300px; */
    display: none;
  }

  .logoo{
    margin-left: 20px;
  }

  .nav.open {
    display: flex;
  }

}



/* @media (max-width: 768px) {

    .display{
        display: block;
        margin-right: 20px;
    }

    .nav{
        display: none;
    }

} */

