.proj_cards{
     display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;

width: 49.625rem;
height: 34rem;
flex-shrink: 0;

border-radius: 1.25rem;
background: rgba(24, 24, 24, 0);
}

.x{
     display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        /* gap: 0.625rem; */
}

.card_title{
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        /* gap: 0.625rem; */
        
}



.tag{
    display: flex;
padding: 0.3125rem 1.125rem;
justify-content: center;
align-items: center;
gap: 0.525rem;

border-radius: 1.25rem;
background: #3C3C3C;

color: #DBDBDB;
font-family: Poppins;
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;

margin: 0px;
margin-top: 5px;


}

.a{
    text-decoration: none;

}

.f32{
      color: #DBDBDB;
font-family: Poppins;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0px;
}