.photo_3d{
  background-image: url("../assets/3d.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.col_details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  /* margin-top: 400px; */
  width: 600px;
  /* margin-bottom: 100px; */ 
  margin-left: 60px;
}

