.projects{
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;
    gap: 60px;
    
}

.projects-section{
     position: relative;
  /* overflow-x: hidden; */
  height: 800vh;
}

.horizontal-scroll{
     position: sticky;
  top: 0;
  left: 0;
  display: flex;
   flex-wrap: nowrap;
  gap: 40px;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
  overflow: visible; 
  will-change: transform;
  transform: translateX(0);
}

.siZe{
    width: 70px;
}

.horizontal-scroll {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 8px;
}
