.f24{
    color: var(--Text-color, #DBDBDB);
text-align: center;
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0px;

}

.f14{
    color: var(--Text-color, #DBDBDB);
text-align: center;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: normal;
margin: 0px;

}

.ca{
  display: flex;
width: 21.4375rem;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1.125rem;
width: 24.1875rem;
height: 29.5625rem;
border-radius: 1.25rem;
background: rgba(24, 24, 24, 0.56);


  border-radius: 16px;
  padding: 16px;
  transition: 
    transform 0.35s ease,
    box-shadow 0.35s ease;
  cursor: pointer;
  transform-style: preserve-3d;

}


.card-wrap {
  perspective: 1200px;
}

.ca {
  transition: transform 0.5s ease; 
  box-shadow: 0.3s ease;
  transform-style: preserve-3d;
  border: solid 1px #0e8c8851;
}

.card-wrap:hover .ca {
  /* box-shadow: 0 30px 60px rgba(0, 0, 0, 0.18); */
  box-shadow: 0 10px 10px #0e8c8842;

}

.ca:hover{

  border: solid 1 px #dcdcdc;
  /* background: #313131; */
  border-radius: 20px;
background: rgba(24, 24, 24, 0.27);
backdrop-filter: blur(3.300000190734863px);
}

.ca img,
.ca p,
.ca button {
  transform: translateZ(10px);
}



/* .ca:hover{
background: rgba(24, 24, 24, 0.56);

} */

/* .ca:hover {
  transform: translateY(-12px) rotateX(4deg) rotateY(-4deg);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.15);
  stroke: 1px solid #0E8C88;
}

image pop
.ca img {
  width: 100%;
  border-radius: 12px;
  transition: transform 0.35s ease;
}

.ca:hover img {
  transform: scale(1.05);
} */

.v{
  width: 100px;
  height: 15px;
  position: relative;
  display: flex;
padding: 10px 25px;
justify-content: center;
align-items: center;
gap: 10px;

border-radius: 20px;
border: 1px solid #0E8C88;
background: #0E8C88;

/* border-radius: 20px;
border: solid 1px #0e8c8851;
background: rgba(13, 103, 102, 0.93); */
/* width: 50px; */

color: var(--white-text, #F1F1F1);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* .ca {
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
} */

.ca:hover {

  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.18);
   transition: transform 0.2s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  perspective: 1000px;

  .v{
    /* width: 150px; */
    background: #0E8C88;
transform: scaleZ(10px);
color: #DBDBDB;
    
  }
}

.v:hover{
transform: scaleZ(10px);
}

@media (max-width: 768px) {
  .ca {
    transform: none !important;
  }
}

