.button{
    display: flex;
width: 6.875rem;
height: 2.1875rem;
padding: 0.625rem 6.75rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
border-radius: 1.25rem;
border: 1px solid rgba(151, 151, 151, 0.14);
background: #272727;
}

