/* .main{
     display: flex;
    flex-direction: column;
    gap: 20px;
} */


.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 180px;

    margin-top: 70px;
}

.col{
     display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.text{
    width: 38.625rem;
    color: #D1D1D1;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 1.875rem */
}

.f40{
color: #176e67;
font-family: Poppins;
font-size: 3rem;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 1.875rem */
margin: 0px;
margin-top: 50px;
}