label{
 /* color: #535353; */
 color: #d8d8d8;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

input{
       display: flex;
height: 30px;
padding: 10px 10px;
justify-content: flex-start;
align-items: flex-start;
gap: 10px;
align-self: stretch;

border-radius: 20px;
border: 1px solid #0E8C88;
background: rgba(217, 217, 217, 0.068);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.send{
    display: flex;
padding: 10px 15px;
justify-content: flex-start;
align-items: flex-start;
gap: 10px;
border-radius: 20px;
background: var(--main-color, #0E8C88);
}

.cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ro_social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ro_social .a img {
  width: 28px;          /* adjust size */
  height: 28px;
  transition: 
    transform 0.3s ease,
    opacity 0.3s ease,
    filter 0.3s ease;
  cursor: pointer;
}

/* Hover effect */
.ro_social .a:hover img {
  transform: translateY(-4px) scale(1.1);
  opacity: 0.85;
  filter: brightness(1.2);
}

.right_cont{
    display: flex ;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.q{
    color: #DBDBDB;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}